.activeLinkNav {
  transform: scale(1.3);
  color: #A3E635;
  font-weight: bold;
}

.inactiveLinkNav {
  color: white
}

select{ 
  background: linear-gradient(95deg, rgba(201, 201, 201, 0.24), rgba(0, 0, 0, 0));
  background-color: transparent;
  color: black;
  /* appearance: none; */
  cursor: pointer;
}

option {
  color: white;
  background-color: black;
  padding: 5px 3px;
  font-size: 18px;
  border-radius: 60px;
  /* appearance: none; */

}

optgroup {
  overflow: hidden;
}

.shop-car-list::-webkit-scrollbar {
  height: 10px;
}

.shop-car-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

.shop-car-list::-webkit-scrollbar-thumb {
  background: #363636;
  width: 40px;
  border-radius: 10px;
}